Unit]
Description=pictures nfs mount script
Requires=network-online.service
After=network-online.service
Before=kodi.service

[Mount]
What=192.168.1.253:/volume1/photos
Where=/storage/pictures
Options=
Type=nfs

[Install]
WantedBy=multi-user.target
